.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.button {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: #000;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  margin-right: 13%;
}

.bigbutton {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  border: #000 solid;
  font-weight: 500;
  background: #ffffff;
  width: 100%;
  margin: 20px 0;
  border-radius: 20px;
  text-align: center;
}

.button:hover {
  cursor: crosshair;
}
.form label {
    position: absolute;
    background-color: #ffffff;
    margin-left: 15px;
    padding: 0 10px;
    border: #000 solid 2px;
    border-radius: 20px;
}
.form input{
    width: 100%;
    padding: 15px 30px;
    border: #000 solid 2px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 25px;

}
.form textarea{
    width: 100%;
    padding: 10px 50px;
    border: #000 solid 2px;
    border-radius: 15px;
    margin-top: 10px;
}
.first{
    width: 50%;
}
.image {
    margin-left: 220px;
    border: #000 solid ;
    max-height: 400px;
}
.submit_btn{
  all: unset;
  padding: 6px 16px;
  height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: #000;
  width: 150px;
  text-align: center;
  border-radius: 20px;
}