.navigation {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 1440px;
  height: 72px;
  border-bottom: black solid 2px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-weight: 500;

}
.logo{
justify-content: flex-start;
width: 150px;
}
